<a href="https://colab.research.google.com/github/ANGELLOPARR/csc466-project/blob/main/NeuralNetExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
from sklearn.datasets import load_iris
import numpy as np
from tensorflow.keras import layers, models, Input, Model
from sklearn.preprocessing import OneHotEncoder

iris = load_iris()
target_names = iris['target_names']

df = pd.DataFrame(iris['data'], columns=iris['feature_names'])
df['target'] = iris['target']
display(df)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [21]:
enc = OneHotEncoder()
enc.fit(df['target'].values.reshape(-1, 1))
enc.categories_

new_target = enc.transform(df['target'].values.reshape(-1, 1))
new_target = pd.DataFrame(new_target.toarray(), columns=target_names)
new_target

     setosa  versicolor  virginica
0       1.0         0.0        0.0
1       1.0         0.0        0.0
2       1.0         0.0        0.0
3       1.0         0.0        0.0
4       1.0         0.0        0.0
..      ...         ...        ...
145     0.0         0.0        1.0
146     0.0         0.0        1.0
147     0.0         0.0        1.0
148     0.0         0.0        1.0
149     0.0         0.0        1.0

[150 rows x 3 columns]

In [22]:
df = pd.concat([df.drop('target', axis=1), new_target], axis=1)
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),setosa,versicolor,virginica
0,5.1,3.5,1.4,0.2,1.0,0.0,0.0
1,4.9,3.0,1.4,0.2,1.0,0.0,0.0
2,4.7,3.2,1.3,0.2,1.0,0.0,0.0
3,4.6,3.1,1.5,0.2,1.0,0.0,0.0
4,5.0,3.6,1.4,0.2,1.0,0.0,0.0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0.0,0.0,1.0
146,6.3,2.5,5.0,1.9,0.0,0.0,1.0
147,6.5,3.0,5.2,2.0,0.0,0.0,1.0
148,6.2,3.4,5.4,2.3,0.0,0.0,1.0
149,5.9,3.0,5.1,1.8,0.0,0.0,1.0

In [23]:
from sklearn.model_selection import train_test_split

X = df.drop(target_names,axis=1)
t = df[target_names]

X_train, X_test, t_train, t_test = train_test_split(X, t, test_size=0.2, random_state=0)
display(X_train.head(3))
display(t_train.head(3))

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
137                6.4               3.1                5.5               1.8
84                 5.4               3.0                4.5               1.5
27                 5.2               3.5                1.5               0.2

     setosa  versicolor  virginica
137     0.0         0.0        1.0
84      0.0         1.0        0.0
27      1.0         0.0        0.0

In [48]:
n = 0.25
bs = int(len(X_train) * 0.04) # 4% of input samples per batch
nepochs = 8
train_accuracy = []
val_accuracy = []
w = [1, 1, 1]

In [65]:
inputs = Input(shape=(4,))

nn = layers.Dense(32, activation='relu')(inputs)
nn = layers.Dense(32, activation='relu')(nn)

outputs = layers.Dense(3, activation='softmax')(nn)
model = Model(inputs=inputs, outputs=outputs)

model.summary()

Model: "model_16"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_17 (InputLayer)        [(None, 4)]               0
_________________________________________________________________
dense_48 (Dense)             (None, 32)                160
_________________________________________________________________
dense_49 (Dense)             (None, 32)                1056
_________________________________________________________________
dense_50 (Dense)             (None, 3)                 99
=================================================================
Total params: 1,315
Trainable params: 1,315
Non-trainable params: 0
_________________________________________________________________

In [66]:
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])
model.fit(X_train, t_train, batch_size=bs, epochs=nepochs, validation_split=0.15)
model.evaluate(X_test, t_test)

Epoch 1/10
26/26 [==============================] - 0s 6ms/step - loss: 1.6267 - accuracy: 0.0312 - val_loss: 1.3326 - val_accuracy: 0.2222
Epoch 2/10
26/26 [==============================] - 0s 2ms/step - loss: 1.1858 - accuracy: 0.3638 - val_loss: 1.1116 - val_accuracy: 0.2222
Epoch 3/10
26/26 [==============================] - 0s 1ms/step - loss: 1.0131 - accuracy: 0.3726 - val_loss: 0.9861 - val_accuracy: 0.4444
Epoch 4/10
26/26 [==============================] - 0s 2ms/step - loss: 0.8861 - accuracy: 0.6779 - val_loss: 0.9066 - val_accuracy: 0.5556
Epoch 5/10
26/26 [==============================] - 0s 1ms/step - loss: 0.7968 - accuracy: 0.6922 - val_loss: 0.8100 - val_accuracy: 0.5556
Epoch 6/10
26/26 [==============================] - 0s 1ms/step - loss: 0.6871 - accuracy: 0.7393 - val_loss: 0.7062 - val_accuracy: 0.5556
Epoch 7/10
26/26 [==============================] - 0s 1ms/step - loss: 0.6349 - accuracy: 0.6892 - val_loss: 0.6403 - val_accuracy: 0.6111
Epoch 8/10
26/26 [==============================] - 0s 1ms/step - loss: 0.5512 - accuracy: 0.7304 - val_loss: 0.5331 - val_accuracy: 0.8333
Epoch 9/10
26/26 [==============================] - 0s 1ms/step - loss: 0.4648 - accuracy: 0.8623 - val_loss: 0.4968 - val_accuracy: 0.8333
Epoch 10/10
26/26 [==============================] - 0s 1ms/step - loss: 0.4724 - accuracy: 0.8997 - val_loss: 0.5231 - val_accuracy: 0.6667
1/1 [==============================] - 0s 14ms/step - loss: 0.4953 - accuracy: 0.6667

[0.49531400203704834, 0.6666666865348816]